---
import { NavLinks } from "../../utils/Others/NavLinks";
import ThemeToggleButton from "./ThemeToggleButton.astro";
---

<div class="text-xl pt-5 lg:text-4xl font-semibold">
  <div class="absolute right-5 top-0 pt-5">
    <ThemeToggleButton />
  </div>
  <nav class="flex flex-row gap-5 lg:gap-7 justify-center text-center">
    {
      NavLinks.map((link) => {
        const { name, url } = link;

        return (
          <a
            href={url}
            class="bg-clip-text text-transparent bg-gradient-to-r hover:motion-safe:animate-pulse hover:from-sky-300/80 hover:to-emerald-300/95 from-cyan-50/90 to-teal-100/90"
          >
            <span
              class={`${
                Astro.url.pathname === url
                  ? "bg-clip-text text-transparent bg-gradient-to-r from-orange-300 to-red-400/90"
                  : null
              }`}
            >
              {name}
            </span>
          </a>
        );
      })
    }
  </nav>
</div>
