---
import { SocialLinks } from "../../utils/Others/SocialLinks";
import Navigation from "./Navigation.astro";
---

<div
  class="flex flex-col gap-5 h-screen items-center justify-center text-center"
>
  <h1 class="font-extrabold text-6xl">
    <span
      class="text-slate-900 dark:bg-clip-text dark:text-transparent dark:bg-gradient-to-r dark:from-cyan-50/90 dark:to-indigo-300/90"
      >Ayanava Karmakar</span
    >
  </h1>
  <div
    class="flex flex-col text-justify lg:flex-row gap-0 lg:gap-2 text-2xl lg:text-3xl"
  >
    <p class="text-slate-900 dark:text-sky-200/90">Frontend Developer</p>
    <p
      class="hidden lg:inline lg:py-0 motion-safe:animate-pulse text-slate-900 dark:text-inherit"
    >
      {" "}+{" "}
    </p>
    <p class="text-slate-900 dark:text-violet-200/90">Electrical Engineer</p>
  </div>
  <div
    class="flex underline decoration-dotted decoration-2 underline-offset-4 flex-col lg:flex-row text-2xl gap-2 tracking-wider"
  >
    <div class="hidden lg:flex lg:flex-row lg:gap-10">
      {
        SocialLinks.map((link) => {
          const { linkName, linkUrl } = link;

          return (
            <p class="text-slate-900 dark:text-indigo-300 dark:hover:text-teal-200/75 hover:motion-safe:animate-pulse">
              <a href={linkUrl} target="_blank" rel="noreferrer">
                {linkName}
              </a>
            </p>
          );
        })
      }
    </div>
    <div class="inline text-xl lg:hidden">
      <p
        class="text-slate-900 dark:text-indigo-300 dark:hover:text-teal-200/75 hover:motion-safe:animate-pulse"
      >
        <a
          href={SocialLinks[0]?.linkUrl}
          target="
        _blank"
          rel="noreferrer"
        >
          {SocialLinks[0]?.linkName}
        </a>
      </p>
    </div>
  </div>
  <Navigation />
</div>
