---
import BaseLayout from "../layouts/BaseLayout.astro";
import Cards from "../components/main/Cards.astro";
import { ExtrasTexts } from "../utils/Texts/ExtrasTexts";

import "../styles/pages/extras.css";
---

<BaseLayout pageTitle="Extras | Ayanava Karmakar">
  <Cards objectToMap={ExtrasTexts} />
  <h1
    class="mt-10 text-center text-cyan-50/90 font-extrabold tracking-wide text-3xl lg:text-5xl"
  >
    — THE END —
  </h1>
</BaseLayout>
