---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Cards from "../components/Home/Cards.astro";
---

<BaseLayout pageTitle={"Home | Ayanava Karmakar"}>
  <header>
    <Navbar />
  </header>
  <main>
    <Cards />
  </main>
</BaseLayout>
