---
import BaseLayout from "../layouts/BaseLayout.astro";
import { NavLinks } from "../utils/NavLinks";
---

<BaseLayout pageTitle={"Home | Ayanava Karmakar"}>
  <header>
    <div class="text-xl lg:text-3xl pt-5 font-semibold">
      <nav class="flex flex-row gap-5 justify-center text-center">
        {
          NavLinks.map((link) => {
            const { name, url } = link;

            return <a href={url}>{name}</a>;
          })
        }
      </nav>
    </div>
  </header>
</BaseLayout>
