---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div
    class="flex flex-col tracking-wide gap-5 h-screen items-center justify-center text-center"
  >
    <h1 class="font-extrabold text-6xl">Ayanava Karmakar</h1>
    <p class="font-normal text-3xl">Frontend Developer</p>
  </div>
</BaseLayout>
