---
import BaseLayout from "../layouts/BaseLayout.astro";
import LandingPage from "../components/LandingPage/LandingPage.astro";
---

<BaseLayout>
  <main>
    <LandingPage />
  </main>
</BaseLayout>
