---
import { Links } from "../utils/Links";
---

<div
  class="flex flex-col gap-5 h-[calc(100vh-100px)] items-center justify-center text-center"
>
  <h1 class="font-extrabold text-6xl">Ayanava Karmakar</h1>
  <div
    class="flex flex-col text-justify lg:flex-row gap-0 lg:gap-2 text-2xl lg:text-3xl"
  >
    <p>Frontend Developer</p>
    <p class="hidden lg:inline lg:py-0">{" "}+{" "}</p>
    <p>Electrical Engineer</p>
  </div>
  <div
    class="flex underline decoration-dotted underline-offset-4 flex-col lg:flex-row text-2xl gap-2 tracking-wider"
  >
    <div class="hidden lg:flex lg:flex-row lg:gap-10">
      {
        Links.map((link) => {
          const { linkName, linkUrl } = link;

          return (
            <p>
              <a href={linkUrl} target="_blank" rel="noreferrer">
                {linkName}
              </a>
            </p>
          );
        })
      }
    </div>
    <div class="inline text-xl lg:hidden">
      <p>
        <a href={Links[0]?.linkUrl} target="_blank" rel="noreferrer">
          {Links[0]?.linkName}</a
        >
      </p>
    </div>
  </div>
</div>
